In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv('PlayerData.csv').drop(columns=['Unnamed: 0'])
data.head()

,APG,DBPM,Exp,FG2_pct,FG3_pct,GP,Height,MPG,OBPM,PPG,Player,Pos,RPG,Salary,TPG,Team,USG,Year,pct_from_3
0,0.6,1.7,7,0.375,0.284,46,6-7,14.8,1.3,2.4,Keith Askins,SF,2.2,750000,0.6,MIA,10.7,1998,NaN
1,1.7,0.9,4,0.476,0.000,52,6-10,26.4,1.3,12.7,Isaac Austin,C,6.3,384000,2.3,MIA,25.5,1998,NaN
2,1.4,2.9,4,0.471,0.376,74,6-11,31.9,0.1,9.6,P.J. Brown,PF,8.6,3844800,1.3,MIA,15.3,1998,NaN
3,0.1,1.6,7,0.416,0.375,37,7-0,9.8,1.3,2.4,Duane Causwell,C,2.7,1211705,0.5,MIA,15.2,1998,NaN
4,1.4,0.0,5,0.474,0.167,5,6-6,13.8,1.3,6.0,Todd Day,SG,1.2,272250,0.6,MIA,25.7,1998,NaN

In [27]:
# All players before 2001 have 'NaN' for 'pct_from_3' - Drop em
data = data[data.Year >= 2001]
data.head()

,APG,DBPM,Exp,FG2_pct,FG3_pct,GP,Height,MPG,OBPM,PPG,Player,Pos,RPG,Salary,TPG,Team,USG,Year,pct_from_3
1218,0.4,0.9,8,0.396,0.000,35,7-0,15.5,4.9,6.1,Matt Geiger,C,4.0,7515840,0.7,PHI,22.8,2001,0.009
1219,0.6,0.1,10,0.474,0.000,76,6-9,31.1,0.8,9.6,Tyrone Hill,PF,9.0,7300000,1.7,PHI,16.0,2001,0.002
1220,4.6,2.6,4,0.441,0.320,71,6-0,42.0,5.0,31.1,Allen Iverson,SG,3.8,10130000,3.3,PHI,35.9,2001,0.169
1221,0.5,0.3,1,0.474,0.333,65,6-8,13.3,0.2,4.7,Jumaine Jones,SF,2.9,735600,0.6,PHI,17.6,2001,0.218
1222,1.9,0.4,7,0.472,0.410,48,6-10,20.4,0.8,8.0,Toni Kukoc,SF,3.4,6000000,1.3,PHI,19.8,2001,0.236

In [28]:
dict_list = []
for player in data.Player.unique():

    temp_df = data[data['Player']==player]

    player_dict = dict(zip(temp_df.iloc[0].keys(), temp_df.iloc[0]))

    if temp_df.shape[0] >= 5:
        player_dict['Salary5'] = temp_df.iloc[4].Salary
        dict_list.append(player_dict)

# Make New DataFrame
new_df = pd.DataFrame(dict_list)
new_df.head()

,APG,DBPM,Exp,FG2_pct,FG3_pct,GP,Height,MPG,OBPM,PPG,Player,Pos,RPG,Salary,Salary5,TPG,Team,USG,Year,pct_from_3
0,4.6,2.6,4,0.441,0.320,71,6-0,42.0,5.0,31.1,Allen Iverson,SG,3.8,10130000,14625000,3.3,PHI,35.9,2001,0.169
1,0.5,0.3,1,0.474,0.333,65,6-8,13.3,0.2,4.7,Jumaine Jones,SF,2.9,735600,1687500,0.6,PHI,17.6,2001,0.218
2,1.9,0.4,7,0.472,0.410,48,6-10,20.4,0.8,8.0,Toni Kukoc,SF,3.4,6000000,3000000,1.3,PHI,19.8,2001,0.236
3,1.7,2.6,7,0.463,0.263,82,6-8,32.3,0.9,8.4,George Lynch,SF,7.2,2200000,3000000,1.3,PHI,13.7,2001,0.093
4,5.0,1.0,6,0.524,0.312,76,6-5,31.5,0.9,11.6,Aaron McKie,SG,4.1,1818000,5500000,2.7,PHI,18.9,2001,0.238

In [29]:
new_df.shape

(679, 20)

In [30]:
new_df.describe()

,APG,DBPM,FG2_pct,FG3_pct,GP,MPG,OBPM,PPG,RPG,Salary,Salary5,TPG,USG,Year,pct_from_3
count,679.000000,637.000000,679.000000,679.000000,679.000000,679.000000,575.000000,679.000000,679.000000,6.790000e+02,6.790000e+02,679.000000,679.000000,679.000000,678.000000
mean,1.692194,1.365149,0.461349,0.260688,58.201767,20.265096,1.848522,7.814138,3.607658,2.343377e+06,6.026839e+06,1.225479,19.005302,2005.521355,0.172934
std,1.734760,1.111522,0.071877,0.162247,23.189592,9.833075,2.217399,5.375952,2.366426,2.629925e+06,4.925566e+06,0.781374,4.671106,4.430293,0.172206
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.600000,0.000000,0.000000,0.000000,1.235500e+04,0.000000e+00,0.000000,0.000000,2001.000000,0.000000
25%,0.500000,0.500000,0.429000,0.183500,42.000000,12.200000,0.400000,3.900000,1.900000,7.468555e+05,2.366666e+06,0.600000,15.800000,2001.000000,0.008000
50%,1.000000,1.100000,0.462000,0.303000,66.000000,19.300000,1.100000,6.500000,3.100000,1.490120e+06,4.837633e+06,1.000000,18.400000,2005.000000,0.140500
75%,2.200000,2.000000,0.497000,0.364000,78.000000,27.750000,2.500000,10.100000,4.700000,2.876760e+06,8.500000e+06,1.600000,21.800000,2009.000000,0.295750
max,9.800000,5.700000,1.000000,1.000000,82.000000,42.000000,26.100000,31.100000,16.300000,1.961000e+07,2.769643e+07,4.100000,38.200000,2016.000000,0.826000

In [32]:
new_df.to_csv('PlayerData_reshaped.csv')